# dependencies
node_modules/

# generated test artefacts
.features-gen/
allure-results/
allure-report/
playwright-report/
test-results/
reports/
logs/

# env & secrets
.env

# os / editor
.DS_Store
*.log
.idea/
.vscode/
